{{!< default}}
<div class="container">
	<center><img src="/images/logo-positivo.png" style="width: 90%;" /> <br />
	<a href="http://facebook.com/nodegirls" target="blank"><img src="https://i.imgur.com/Vxp9wMr.png" width="64" /></a> <a href="https://github.com/NodeGirlsCode" target="blank"><img src="https://i.imgur.com/xvG4SA5.png" width="64" /></a> <a href="http://twitter.com/nodegirlscode" target="blank"><img src="https://i.imgur.com/rCC7KgW.png" width="64" /></a> </center>
	<br /><br />
	<p><center><img src="http://res.cloudinary.com/keystone-demo/image/upload/c_fit,h_450,w_750/ttlbp4nzzgows0di16ja.png" style="width: 30%;" /><br/><br/>
	<a href='https://app.umbler.com/u/rj0m99qk'>
	<img src='https://static.umbler.com/brand/umbler-badges/umbler-badge-hostedby-light-bg.png' 
 width='15%' alt='Hosted by Umbler'>
</a></center></p>
	</div>
</div>
